@font-face {
    font-family: "Sophia Script Medium";
    font-style: normal;
    font-weight: 500;
    src: local("Sophia Script Medium"), local('SophiaScript-Medium'), url("../font/SophiaScript-Medium.otf") format('opentype');
  }

@font-face {
    font-family: "Sophia Script";
    font-style: normal;
    font-weight: 500;
    src: local("Sophia Script Medium"), local('SophiaScript-Medium'), url("../font/SophiaScript-Medium.otf") format('opentype');
  }

@font-face {
    font-family: "Papyrus";
    font-style: normal;
    font-weight: 500;
    src: local("Papyrus"), local("Papyrus Regular"), local("Papyrus-Regular"), url("../font/Papyrus.ttf") format('truetype');
}

@font-face {
    font-family: "MrsEavesRoman Regular";
    font-style: normal;
    font-weight: 500;
    src: local("MrsEavesRoman"), local('MrsEavesRoman'), url("../font/MrsEavesRoman-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "MrsEavesRoman";
    font-style: normal;
    font-weight: 500;
    src: local("MrsEavesRoman"), local('MrsEavesRoman'), url("../font/MrsEavesRoman-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "MrsEavesAllPetiteCaps Regular";
    font-style: normal;
    font-weight: 500;
    src: local("MrsEavesAllPetiteCaps"), local('MrsEavesAllPetiteCaps'), url("../font/MrsEavesAllPetiteCaps-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "MrsEavesAllPetiteCaps";
    font-style: normal;
    font-weight: 500;
    src: local("MrsEavesAllPetiteCaps"), local('MrsEavesAllPetiteCaps'), url("../font/MrsEavesAllPetiteCaps-Regular.ttf") format('truetype');
}